---
import Container from "@/components/Container.astro";
import Heading from "@/components/Heading.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import { fetchPages } from "@/lib/directus";
import { Page } from "@/lib/types";

let page: Page | Record<string, any>;

export async function getStaticPaths() {
  const pages = await fetchPages();
  return pages.map((page) => ({
    params: {
      slug: page.slug,
    },
    props: {
      ...page,
    },
  }));
}

if (import.meta.env.NODE_ENV !== "production") {
  // Im Entwicklungsmodus: Hole Seiten live von der API
  const pages = await fetchPages();
  const { slug } = Astro.params;

  // Finde die richtige Seite basierend auf dem slug
  page = pages.find((page) => page.slug === slug) as Page;

  // Wenn die Seite nicht gefunden wird, leite zur 404-Seite um
  if (!page) return Astro.redirect("/404");
} else {
  // Im Produktionsmodus: Nutze die von getStaticPaths bereitgestellten Props
  page = Astro.props;
}
---

<Layout title={page.title}>
  <Section>
    <Container>
      <Heading>{page.title}</Heading>
    </Container>
  </Section>
</Layout>
