---
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
---
<Layout title="Über uns">
    <Section>
        <Container>
            <Heading>Über uns</Heading>
        </Container>
    </Section>    
</Layout>