---

import { Markdown } from 'astro/components';

import type {BlockText} from "@/lib/schema";

export interface Props extends BlockText {}


const { text, design } = Astro.props;

const classNames = design === 'style_1' ? 'block block-text' : 'block block-text block-text--style-2';
---

<div class={classNames}>
    <Markdown content={text} />
</div>
