---

---

<div class='mx-auto my-6 grid max-w-4xl grid-cols-3'>
  <div>
    <p class='font-serif text-3xl font-bold leading-relaxed'>
      Erz채hlen Sie uns von Ihrem Vorhaben! Wo w체nschen Sie sich Unterst체tzung?
    </p>
    <p class='mt-1 text-2xl'>#gernperdu</p>
  </div>
  <div class='col-span-2 pl-12'>
    <form action='#'>
      <div class='grid grid-cols-2 gap-8'>
        <input type='text' placeholder='Name' />
        <input type='email' placeholder='E-Mail' />
      </div>
      <div class='mt-6'>
        <textarea
          name='message'
          placeholder='Nachricht'
          cols='30'
          rows='6'
          class='w-full'></textarea>
      </div>
      <div class='mt-6 text-sm text-black'>
        <label class='custom-checkbox flex items-center'>
          <input type='checkbox' id='checkbox' class='hidden' />
          <span class='checkmark'></span>
           Ja, ich habe die Datenschutzerkl채rung zur Kenntnis genommen.
        </label>
      </div>
      <div class="mt-12">
        <button
          class=' bg-re-red text-white px-12 py-3 text-lg inline-block whitespace-nowrap font-bold uppercase tracking-wide'
          >Absenden</button
      </div>
    </form>
  </div>
</div>

<style>
  input,
  textarea {
    @apply p-2.5  placeholder:text-re-blue;
  }

  .custom-checkbox .checkmark {
    @apply relative -top-0.5 left-0 mr-2 inline-block h-5 w-5 cursor-pointer bg-white;
  }

  .custom-checkbox input:checked + .checkmark:after {
    @apply absolute left-1.5 top-0.5 h-3 w-2 rotate-45 border-4 border-l-0 border-t-0 border-white;
    content: '';
  }

  .custom-checkbox input:checked + .checkmark {
    @apply bg-re-blue;
  }
</style>
