---
const alignmentDefault = 'center';
const { alignment = alignmentDefault } = Astro.props;

const alignments = {
  left: 'text-left',
  center: 'text-center mx-auto',
  right: 'text-right'
};
---

<h2
  class:list={[
    'mb-8 font-serif text-4xl font-semibold',
    alignments[alignment] || alignments[alignmentDefault]
  ]}
>
  <slot />
</h2>
