---

---

<div class='flex items-center justify-center'>
  <div
    class='swiper-button-prev
      cursor-pointer
      p-1
      text-3xl
      text-zinc-300
      transition-colors
      duration-200
      ease-in-out
      hover:text-re-blue'
  >
    <i class='fa-solid fa-chevron-left'></i>
  </div>
  <div class='swiper logo-slider'>
    <div class='swiper-wrapper'>
      {
        Array.from({ length: 10 }).map((_, index) => () => (
          <div class='swiper-slide w-1/4 overflow-hidden'>
            <div class='flex items-center justify-center'>
              <img
                src={`https://picsum.photos/id/${index + 50}/300/100`}
                alt={`Logog ${index + 1}`}
                class='h-[70px] w-[185px] object-contain'
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div
    class='swiper-button-next
      cursor-pointer
      p-1
      text-3xl
      text-zinc-300
      transition-colors
      duration-200
      ease-in-out
      hover:text-re-blue'
  >
    <i class='fa-solid fa-chevron-right'></i>
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';
  import 'swiper/css';

  const swiper = new Swiper('.logo-slider', {
    slidesPerView: 4,
    loop: true,
    modules: [Navigation],

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
</script>
