---
let { max_width_container, testimonals } = Astro.props;

const NO_MAX_WIDTH = 'max-w-none';
const maxWidths = new Set([
  NO_MAX_WIDTH,
  'max-w-xs',
  'max-w-sm',
  'max-w-md',
  'max-w-lg',
  'max-w-xl',
  'max-w-2xl',
  'max-w-3xl',
  'max-w-4xl'
]);
const getMaxWidthClass = (width, defaultValue = NO_MAX_WIDTH) =>
  maxWidths.has(width) ? width : defaultValue;
---

{
  testimonals && (
    <div
      class:list={[
        'mx-auto my-14 flex items-center justify-center',
        getMaxWidthClass(max_width_container)
      ]}
    >
      <div
        class='swiper-button-prev
        cursor-pointer
        p-1
        text-4xl
        text-re-turquoise
        transition-colors
        duration-200
        ease-in-out
        hover:text-re-blue'
      >
        <i class='fa-solid fa-chevron-left' />
      </div>
      <div class='swiper testimonials-slider'>
        <div class='swiper-wrapper'>
          {testimonals.map((testimonal, index) => () => (
            <div class='swiper-slide w-1/4 overflow-hidden'>
              <div class='flex items-center justify-between'>
                <div class='flex min-w-[450px] items-center justify-center'>
                  <img
                    src={
                      'https://i.pravatar.cc/300?img=' +
                      Math.floor(Math.random() * 50 + 1)
                    }
                    alt={`Person ${index + 1}`}
                    class='h-[290px] w-[290px] rounded-full object-contain'
                  />
                </div>
                <div class='w-full'>
                  <h1 class='mb-8 font-serif text-4xl font-bold'>
                    Kundenmeinungen
                  </h1>
                  <p>“{testimonal.text}“</p>
                  <p class='mt-6 text-xl'>
                    <span class='mr-2 font-bold'>{testimonal.name}</span>
                    {testimonal.company}
                  </p>
                </div>
              </div>
            </div>
          ))}
        </div>
      </div>
      <div
        class='swiper-button-next
        cursor-pointer
        p-1
        text-4xl
        text-re-turquoise
        transition-colors
        duration-200
        ease-in-out
        hover:text-re-blue'
      >
        <i class='fa-solid fa-chevron-right' />
      </div>
    </div>
  )
}

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';
  import 'swiper/css';

  for (const [index, element] of document
    .querySelectorAll('.testimonials-slider')
    .entries()) {
    new Swiper(element, {
      slidesPerView: 1,
      loop: true,
      modules: [Navigation],

      navigation: {
        nextEl: element.parentElement.querySelector('.swiper-button-next'),
        prevEl: element.parentElement.querySelector('.swiper-button-prev')
      }
    });
  }
</script>
